@font-face{
	font-family: 'iciel medium';
	src: url('fonts/GOTHAMRND-MEDIUM.OTF');
}
@font-face{
	font-family: 'iciel book';
	src: url('fonts/GOTHAMRND-BOOK.OTF');
}
@font-face{
	font-family: 'iciel bold';
	src: url('fonts/GOTHAMRND-BOLD.OTF');
}
@font-face{
	font-family: 'iciel light';
	src: url('fonts/GOTHAMRND-LIGHT.OTF');
}
@font-face{
	font-family: 'samsung sharp';
	src: url('fonts/SamsungSharpSans-Bold-UTF8.ttf');
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.f18{
	font-size: 18px;
}
.f20{
	font-size: 20px;
}
.f30{
	font-size: 30px;
}
.f40{
	font-size: 40px;
}
.ellipsis{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}