@import "colors";

.w-960{
	max-width: 960px;
	margin: 0 auto;
}
.w-1024{
	max-width: 1024px;
	margin: 0 auto;
}
.w-1360{
	max-width: 1360px;
	margin: 0 auto;
}
.container-fixed{
	max-width: 1280px;
	margin: 0 auto;
}
.w-1920{
	max-width: 1920px;
	margin: 0 auto;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-40{
	margin-bottom: 40px;
}
.mt-10{
	margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.mt-30{
	margin-top: 30px;
}
.mt-40{
	margin-top: 40px;
}
.ratio1-1{
	position: relative;
	width: 100%;
	padding-top: 100%;
	
	img.card-img-top{
		background: #eaeaea;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
	}
}

.center-hori-verti{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}