@media (min-width: 319.98px) and (max-width: 413px){
	.sidenav{
		.cart-item-info{
			p.f16{
				max-width: 166px !important;
			}
		}
		.cart-title{
			.closebtn{
				padding: 5px !important;
			}
		}
		.my-cart,
		.cart-item-info p,
		.cart-body h5{
			font-size: 14px !important;
		}
	}
}
@media (max-width: 767.98px) {
	.section-2{
		.main-banner .content-banner{
			width: 270px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}
		.main-banner .content-slider{
			h3{
				font-size: 20px;
			}
			span{
				font-size: 14px;
			}
		}
		.slide-section-2 .item-slider{
			height: 300px;
		} 
	}
	.card-body {
		.card-detail{
			.col-md-3.col-6.text-center{
				padding: 12.5px 0;
			}
		}

	}
	.detail-left{
		display: none;
	}   
}
@media (max-width: 991.98px) {
	header{
		.navbar-brand,
		.menu-mobile-right
		{
			display: block;
		}
		.navbar-brand{
			margin-right: 0;
		}
		.menu-mobile-right{
			display: flex;
			img{
				width: 30px;
				height: 30px;
				margin: 0 4px;
			}
			.cart-mobile{
				position: relative;
				img{
					width: 30px;
					height: 30px;
				}
				div{
					width: 23px;
					height: 23px;
					position: absolute;
					background: #CE2026;
					top: -27%;
					right:-7%;
					border-radius: 50%;
					color: $white;

					span{
						font-size: 16px;
					}
				}
			}
		}
		.logo-brand{
			display: none;
		}
		.header-right{
			li:nth-child(1),
			li:nth-child(4){
				display: none;
			}
		}
	}
	.section-3{
		.arrow-slider{
			display: none;
		}
	}
	.slider-3 .slide-section-3  .slick-slide {
		margin: 0 15px;
	}
	.slider-3 .slide-section-3 .slick-list {
		margin: 0 -15px;
	}
	.logo-footer{
		display: none;
	}
	.section-1-left div{
		margin-bottom: 30px;
	}
	.section-4{
		padding: 30px 0;
	}
	.section-1-right img{
		max-width: 100%;
	}
	.card-detail{
		.price-left,
		.price-right{
			float: none;
		}
	}
	#detail-voucher{
		.sidenav{
			padding-top: 57px;
		}
	}
	.detail-product{
		.detail-right{
			.detail-right-content{
				.detail-item{
					.text-detail{
						h3{
							margin: 10px 0;
						}
					}
					.pick-detail{
						padding: 10px 0;
						float: left;
					}
				}
			}
		}
	} 
	ul li.btn-register{
		max-width: 130px;
	}
}
@media (min-width: 992px) {
	.container-fixed{
		max-width: 100%;
		margin: 0 auto;
	}
	header{
		font-size: 12px;
	}
	ul li.nav-item{
		margin: 0;
	}
	.logo-brand{
		img{
			width: 100px;
		}
	}
}
@media (min-width: 1280px){
	ul li.nav-item{
		margin: 0 4px;
	}
	.container-fixed{
		max-width: 1280px;
		margin: 0 auto;
	}
	header{
		font-size: 16px;
	}
	.logo-brand{
		img{
			width: 100%;
		}
	}
}
@media (min-width: 1640px){
	.container-fixed{
		max-width: 1640px;
		margin: 0 auto;
	}
	ul li.nav-item{
		margin: 0 8px;
	}
}