body{
	font-size: 18px;
	color: $font-color;
	font-family: 'iciel medium';
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	color: inherit;
}
a:hover{
	color: inherit;
	text-decoration: none; 
}
.hidden{
	display: none;
}
.banner{
	position: relative;
	img{
		width: 100%;
		height: auto;
	}
}
.mb-50{	
	margin-bottom: 50px;
}
div.underline{
	width: 90px;
	height: 3px;
	background: $orange;
	margin-right: auto;
	margin-left: auto;
}
.parallax{
	min-height: 550px;
	background: transparent;
}
/* Header */
.header-right {
	li:nth-child(1){
		span{
			font-size: 12px;
			font-family: 'iciel book';
		}
	}
}
.navbar-light .navbar-nav .nav-link{
	color: #333333;
}
ul li.nav-item{
	margin: 0 14px;
	.items{
		position: absolute;
		top: -20%;
		right: -20%;
		background: $orange;
		color: $white;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		padding: 2px 0;
	}
}
ul.header-right li.nav-item:nth-child(4){
	position: relative;
	img{
		width: 45px;
	}
}
ul li.btn-register{
	background: $orange;
	padding: 0px 30px;
	border-radius: 4px;
}
.navbar-light .navbar-nav .btn-register .nav-link{
	color: $white;
}

/* end header */
section{
	padding: 50px 25px;
}

/* section 1 */
.section-1-left{
	div{
		max-width: 1000px;
		font-family: 'iciel book';
	}
	h3{
		margin: 30px 0;
		font-size: 30px;
		font-family: 'samsung sharp';
	}
}
.section-1-right{
	max-width: 100%;
	height: 350px;
	img{
		width: 350px;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
/* end section 1 */

/* section 2 */
.title-section{
	h3{
		font-size: 30px;
		margin-bottom: 30px;
		font-family: 'samsung sharp';
	}
	div{
		max-width: 800px;
		margin: 0 auto;
	}
	span{
		font-family: 'iciel book';
	}
}
/* slide slick custom */
.item-slider{
	max-width: 100%;
	img{
		width: 100%;
		height: 100%;
	}
}
.slick-dots{
	position: absolute;
	bottom: 5%;
}
.slick-dots li.slick-active button:before{
	color: $banana-color;
}
.slick-dots li button:before{
	color: $white;
	opacity: 1;
	font-size: 16px;
	line-height: 16px;
}
/* customize slide section 2 */
.slide-section-2{
	.item-slider{
		height: 550px;
	}
}
.main-banner{
	position: relative;
	.content-slider{
		max-width: 400px;
		color: $white;
		
		h3{
			font-size: 40px;
			color: $banana-color;
			font-family: 'samsung sharp';
		}
		span{
			font-family: 'iciel light';
		}
	}
	.content-banner{
		position: absolute;
		top: 30%;
		left: 10%;
	}
}

/* customize slide section 3 */
.slider-3{
	position: relative;
	.slide-section-3{
		.item-slider{
			position: relative;
			width: 100%;
			padding-top: 100%;
			border-radius: 4px;
			img{
				max-width: 100%;
				position:  absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
			.overlay{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: linear-gradient(to top, $orange , rgba(0,0,0,0));
				overflow: hidden;
				width: 100%;
				height: 0;
				transition: .5s ease;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;

				.text-overlay{
					color: $white;
					font-size: 14px;
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 10px;;
				}
			}
		}
		.item-slider:hover .overlay{
			height: 80%;
		}
		.slick-slide {
			margin-left:30px;
		}

		.content-slider-sc3{
			position: absolute;
			top: 10%;
			width: inherit;
			h4{
				font-size: 20px;
				color: $banana-color;
				text-align: center;
			}
			div{
				width: 80px;
				height: 3px;
				background: $orange;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.arrow-slider{
		position: absolute;
		width: 40px;
		height: 40px;
		top: 40%;

		img{
			width: 100%;
		}
	}
	.pp2{
		left: -2%;
	}
	.nn2{
		right: -3.5%;
	}

}
.panels-2{
	background-image: url('images/banner-mid.png');
	height: 500px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* section-4 */
.section-4{
	background: #F2F0F0;

	.slick-dots{
		position: absolute;
		bottom: -12%;
	}

}
.text-review{
	width: 100%;
	min-height: 175px;
	background-color: $gray;
	padding: 10px;
	span{
		font-family: 'iciel book';
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		line-height: 1.4;
	}
}
.user-review{
	background: $white;
	width: 100%;
	min-height: 175px;
	position: relative;

	.avatar-user{
		width: 100%;
		height: 100%;
		position: absolute;
		top: -33.3333%;
		img{
			width: 120px;
			height: 120px;
			border-radius: 50%;
			margin-right: auto;
			margin-left: auto;
			display: block;
		}
	}
	.info-user{
		position: absolute;
		bottom: 15%;
		left: 0;
		right: 0;
		p{
			margin: 0;
		}
		span{
			font-size: 14px;
			color: #666666;
		}
	}
}
/* footer */
footer{
	background: $color-title-slide;
	color: $white;
	font-size: 14px;
	h3{
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 20px;
	}
	li{
		list-style: none;
		a{
			text-decoration: none;
			color: $white;
		}
		a:hover{
			color: $white;
			text-decoration: none;
		}
	}

	.logo-footer{
		max-width: 100%;
		img{
			width: 100%;
		}
	}

	div.col-md-2:nth-child(2),
	div.col-md-2:nth-child(3),
	div.col-md-2:nth-child(4){
		padding: 12px 15px;
	}

	.col-md-4{
		padding: 10px 15px;
		li{
			margin:5px 0;
		}
		li:nth-child(4){
			display: flex;
			padding-left: 43px;
			input{
				border:none;
				outline: none;
				padding: 0 10px;
				width: 278px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			button{
				background: #FFCA23;
				color: $white;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}
		img{
			width: 20px;
			margin: 0 10px;
		}
		span{
			width: calc(100% - 50px);
		}
	}
	
}
.footer-bottom{
	background: #F57522;
	height: 60px;
	position: relative;
	color: $white;
	padding: 21px 0;
}

