#detail-voucher{
	background: #eaeaea;
	font-size: 16px;
	header{
		background: $white;
		position: fixed;
		width: 100%;
		z-index: 1001;
	}
	.mobile-screen{
		z-index: 1;
		top: 57px;
		position: sticky;
		height: 50px;
		background: $white;
		border-top: 1px solid #eaeaea;

		.header-option-left,
		.header-option-right{
			img{
				width: 20px;
			}
		}
		.header-option-right{
			button{
				background: none;
				border: 1px solid #eaeaea;
				border-radius: 4px;
				outline: none;
			}
		}
	}
	.bd-filterfood-modal-lg{
		.modal-content{
			height: 100vh;

			.modal-body{
				position: relative;
				max-height: 100%;
				overflow: scroll;
				.detail-left-list{
					width: 100%;
				}
				ul {
					padding: 0;
					li{
						list-style: none;
					}
				}
			}
		}
	}
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: $white;
		overflow-x: hidden;
		transition: 0.3s;
		padding-top: 85px;
		.cart-title{
			height: 60px;
			background: $green-title;
			color: $white;
			position: relative;
			.closebtn {
				position: absolute;
				top: -1%;
				right: 1%;
				font-size: 36px;
				padding: 7px 14px;
				cursor: pointer;
			}
		}
		.cart-body{
			padding: 0 16px 16px 16px;
			.cart-order{
				margin: 20px 0;
			}
			.cart-item{
				padding: 10px 0;
				border-bottom: 1px solid #eaeaea;
				.cart-item-img{
					position: relative;
					width: 100px;
					a{
						position: absolute;
						left: 0;
						top: 0;
						background: #eaeaea;
						color: #000;
						width: 30px;
						height: 30px;
						padding:5px 0;
						font-weight: 600;
					}
				}
				.cart-item-info{
					padding-left: 10px;
					p{
						margin-bottom: 8px;
						-webkit-line-clamp: 1;
						max-width: 250px;

					}
					div:nth-child(2){
						margin-top: 13px;
						button{
							width: 30px;
							height: 30px;
							background: $green-title;
							color: $white;
							border-radius: 50%;
							border: none;
							margin: 0 5px;
							outline: none;
						}
					}
				}
				.cart-payment-btn{
					background: $green-title;
					color: $white;
					border: none;
					outline: none;
					padding: 5px 10px;
				}
			}

		}
	}
}
section.detail-product{
	margin-top: -100px;
}
.detail-product{
	.detail-left{
		background: $white;
		min-height: 800px;
		padding: 10px;

		.detail-left-header{
			h3{
				font-size: 30px;
			}
		}
		.detail-left-list{
			h4{
				padding: 0 15px;
				font-size: 30px;
			}
			.listed-type{
				ul{
					padding: 0;
					li{
						list-style: none;
					}
				}
			}
		}

	}

	.detail-right{
		background: $white;
		min-height: auto;
		padding: 20px 0;
		.detail-right-header,
		.detail-right-content{
			padding: 0 25px;
		}
		.detail-right-header{
			h4{
				text-transform: uppercase;
			}
			span.des-header{
				color: #707070;
			}
			ul {
				padding: 0;
				li{
					list-style:  none;
					color: $green-title;
				}
			}
		}
		.detail-right-content{
			.card{
				border: none;
			}
			.pick-detail{
				float: right;
				span{
					color: $white;
				}
				span:nth-child(1){
					background: $green-title;
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
					padding: 7px 14px 7px 7px;
				}
				span:nth-child(2){
					background: #249e3c;
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
					padding: 7px 10px;
				}
			}
			.detail-item{
				padding-bottom: 20px;
				border-bottom: 2px solid #eaeaea;
				.pick-detail{
					padding-top: 50px;
				}
				.img-detail{
					img{
						width: 100%;
					}
				}
				.text-detail{
					p.text-description{
						color: #707070;
						min-height: 96px;
						-webkit-line-clamp: 4;
					}
					h3{
						min-height: 48px;
						-webkit-line-clamp: 2;
					}
				}
			}
			.item-hidden{
				.card-body{
					.title-option{
						p{
							text-transform: uppercase;
							color: $green-title;
						}
					}
					background: #F5F4F4;

					.option-extra {
						display: block;
						position: relative;
						padding-left: 30px;
						margin-bottom: 12px;
						cursor: pointer;
						color:#666666;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}

					/* Hide the browser's default checkbox */
					.option-extra input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;
					}

					/* Create a custom checkbox */
					.checkmark {
						position: absolute;
						top: 0;
						left: 0;
						height: 20px;
						width: 20px;
						background-color: #F5F4F4;
						border: 1px solid #D9D9D6;
					}

					/* On mouse-over, add a grey background color */
					.option-extra:hover input ~ .checkmark {
						background-color: #ccc;
					}

					/* When the checkbox is checked, add a blue background */
					.option-extra input:checked ~ .checkmark {
						background-color: $green-title;
					}

					/* Create the checkmark/indicator (hidden when not checked) */
					.checkmark:after {
						content: "";
						position: absolute;
						display: none;
					}

					/* Show the checkmark when checked */
					.option-extra input:checked ~ .checkmark:after {
						display: block;
					}

					/* Style the checkmark/indicator */
					.option-extra .checkmark:after {
						left: 5px;
						top: 1px;
						width: 8px;
						height: 14px;
						border: solid white;
						border-width: 0 3px 3px 0;
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
					}
					[type="radio"]:checked,
					[type="radio"]:not(:checked) {
						position: absolute;
						left: -9999px;
					}
					[type="radio"]:checked + label,
					[type="radio"]:not(:checked) + label
					{
						position: relative;
						padding-left: 28px;
						cursor: pointer;
						line-height: 20px;
						display: inline-block;
					}
					[type="radio"]:checked + label:before,
					[type="radio"]:not(:checked) + label:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 19px;
						height: 19px;
						border: 1px solid #ddd;
						border-radius: 100%;
						background: #fff;
					}
					[type="radio"]:checked + label:after,
					[type="radio"]:not(:checked) + label:after {
						content: '';
						width: 9px;
						height: 9px;
						background: #D00808;
						position: absolute;
						top: 5px;
						left: 5px;
						border-radius: 100%;
						-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
					}
					[type="radio"]:not(:checked) + label:after {
						opacity: 0;
						-webkit-transform: scale(0);
						transform: scale(0);
					}
					[type="radio"]:checked + label:after {
						opacity: 1;
						-webkit-transform: scale(1);
						transform: scale(1);
					}
				}
				.card-quantity{
					background: #eaeaea;
					.input-quantity{
						.bd-highlight{
							display: flex;
							input{
								width: 50px;
								outline: none;
							}
							input::-webkit-outer-spin-button,
							input::-webkit-inner-spin-button {
								-webkit-appearance: none;
								margin: 0; 
							}
							span{
								width: 50px;
								padding: 3px 0;
								cursor: pointer;
							}
						}
					}
				}
			}

		}
	}

}