.landing-page{
	font-size: 16px;
	.col-xl-3.col-lg-6.col-12{
		padding: 10px;
	}
	h3.title-landing-page{
		margin: 50px 0 0 25px;
	}
}
.card-body{
	.card-title{
		height: 45px;
		a{
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
	}
	.card-detail{
		display: flex;

		.price-original{
			font-size: 18px;
			color: $green-title;
		}
		.price-discount{
			font-size: 12px;
			text-decoration: line-through;
			padding: 3px 0;
		}
		.price-promo{
			background: $red-price;
			color: $white;
			padding: 3px;
			border-radius: 4px;
		}
	}
}