.e-voucher{
	.col-xl-4.col-12.col-lg-6{
		padding: 15px;
	}
	.qr-code{
		position: absolute;
		top: 2%;
		left: 2%;
		width: 90px;
		img{
			max-width: 100%;
		}
	}
	.point{
		position: absolute;
		bottom: 3%;
		right:3%;
		span{
			background: $orange;
			border-radius: 15px;
			padding: 8px 10px;
			color: $white;
		}
	}
	.card-detail{
		.price-promo{
			float: right;
			background: $orange;
		}
		.price-original{
			font-size: 20px;
			color: $orange;
		}
		.price-discount{
			font-size: 14px;
			text-decoration: line-through;
			padding: 5px 0;
		}
	}
	.card-description{
		margin-bottom: 0.75rem;
		span{
			min-height: 50px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			font-family: 'iciel book';
		}
	}

	.item-quantiy{
		.unit{
			display: flex;
			button{
				width: 50px;
				background: $white;
				border: none;
				outline: none;
				border-radius: 5px;
				img{
					max-width: 100%;
					padding: 6px;
				}
			}
			input{
				border-radius: 5px;
				width: 95px;
				border: none;
				outline: none;
				margin: 0 5px !important;
				text-align: center;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0; 
			}
		}
	}
	.add-to-cart{
		background: $orange;
		color: $white;
		border-radius: 5px;
		img{
			width: 40px;
			padding: 4px;
		}
	}
	.fade-color{
		width: 100%; 
		height: 100%; 
		background: rgba(0,0,0,0.3); 
		position: absolute; 
		top: 0; 
		left: 0;
	}
	.cart-selection,
	.fade-color{
		display: none;
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
	}
	.card:hover{
		.cart-selection,
		.fade-color{
			display: block;
			transition: all .3s ease;
			-webkit-transition: all .3s ease;
		}
	}
}
